*~
\#*
.#*
*.fasl
*.class
build
**/auto/
*.el
lib
manifest.mf
nbbuild.xml
nbproject
dist
tmp
*.tmp
*.jar
/clojure/lib
/clojure/classes
.lein-failures
/clojure/checkouts
.lein-deps-sum
.classpath
*.dat
valgrind.log
valgrind.*.log
analysis.txt
gmon.out
gmon.txt
gprof
field_research/code/zebra/original/*.o
field_research/code/zebra/original/booktool
field_research/code/zebra/original/enddev
field_research/code/zebra/original/libzebra.a
field_research/code/zebra/original/practice
field_research/code/zebra/original/scrzebra
field_research/code/zebra/original/tune8dbs
field_research/code/zebra/original/zebra
field_research/code/zebra/original/zebra.err
field_research/code/zebra/original/zebra.log
field_research/code/zebra/original/ffo/*.out
field_research/code/zebra/working_copy/*.o
field_research/code/zebra/working_copy/booktool
field_research/code/zebra/working_copy/enddev
field_research/code/zebra/working_copy/libzebra.a
field_research/code/zebra/working_copy/practice
field_research/code/zebra/working_copy/scrzebra
field_research/code/zebra/working_copy/tune8dbs
field_research/code/zebra/working_copy/zebra
field_research/code/zebra/working_copy/zebra.err
field_research/code/zebra/working_copy/zebra.log
field_research/code/zebra/working_copy/ffo/*.out
field_research/code/edax/4.3/doc
field_research/code/edax/4.3/bin
.kdev4
*.kdev4
.kdev_include_paths
out
callgrind.out.*
cachegrind.out.*
.Rhistory
out_*
regab_*.csv
regab_*.ods
tmp.sh
large_binary.*
rglmdata
__pycache__
c/sql/0107_data_pattern_index_frequencies_2X6COR_762291_1000000000.sql
.reversi_venv