;
; game_value_estimator.cfg
;
; Config file for the REGAB utility
;
; This file is part of the reversi program
; http://github.com/rcrr/reversi
;
; Author Roberto Corradini mailto:rob_corradini@yahoo.it
; Copyright 2021 Roberto Corradini. All rights reserved.
;
; License
;
; This program is free software; you can redistribute it and/or modify it
; under the terms of the GNU General Public License as published by the
; Free Software Foundation; either version 3, or (at your option) any
; later version.
;
; This program is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
; GNU General Public License for more details.
;
; You should have received a copy of the GNU General Public License
; along with this program; if not, write to the Free Software
; Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA
; or visit the site <http://www.gnu.org/licenses/>.
;
;
;
[rglm_solver]
;
; Valid entries are in the range [ec00..ec60]
;
ec02=./rglmdata/A0250_01.w.dat
ec03=./rglmdata/A0350_01.w.dat
ec04=./rglmdata/A0450_01.w.dat
ec05=./rglmdata/A0550_01.w.dat
ec06=./rglmdata/A0650_01.w.dat
ec07=./rglmdata/A0750_01.w.dat
ec08=./rglmdata/A0850_01.w.dat
ec09=./rglmdata/A0950_01.w.dat
;
ec10=./rglmdata/A1050_01.w.dat
ec11=./rglmdata/A1150_01.w.dat
ec12=./rglmdata/A1250_01.w.dat
ec13=./rglmdata/A1350_01.w.dat
ec14=./rglmdata/A1450_01.w.dat
ec15=./rglmdata/A1550_01.w.dat
ec16=./rglmdata/A1650_01.w.dat
ec17=./rglmdata/A1750_01.w.dat
ec18=./rglmdata/A1850_01.w.dat
ec19=./rglmdata/A1950_01.w.dat
;
ec20=./rglmdata/A2050_01.w.dat
ec21=./rglmdata/A2150_01.w.dat
ec22=./rglmdata/A2250_01.w.dat
